<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: ahead">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:insert="template.html :: navbar">
    
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="http://placehold.it/900x400" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
      <!--
        <h1 class="font-weight-light">Business Name or Tagline</h1>
        <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
        <a class="btn btn-primary" href="#">Call to Action!</a>		
        -->
        <form th:action="@{/location}" method="post" th:object="${gpsPoint}" >
			<div class="form-group">
				<label for="latitude">Latitude</label> <input
					type="text" th:filed="*{lat}" th:value="*{lat}" class="form-control" id="latitude"
					aria-describedby="latitudeHelp" name="lat"> <small id="latitudeHelp"
					class="form-text text-muted">Latitude of the position.</small>
			</div>
			<div class="form-group">
				<label for="longitude">Longitude</label> <input
					type="text" th:filed="*{lng}" th:value="*{lng}" class="form-control" id="longitude" name="lng">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>		
	 </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Some Crops</h2>
            <p class="card-text">
            	<span th:each="culture : ${cultures}">
            		<i th:text="${culture}">culture</i>,
            	</span>
            </p>
          </div>
          <div class="card-footer">
          	Crops  
            <!-- <a href="#" class="btn btn-primary btn-sm">More Info</a> -->
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Location and Soil</h2>
            <p class="card-text">
            	<div>You are around <b th:text="${aez.subNatUnit}">City</b></div>
            	<div>Ph of soil: <span th:text="${ph}">7</span>(<span th:text="${phtext}">ph</span>)</div>
            </p>
          </div>
          <div class="card-footer">
          	Location and Soil
            <!-- <a href="#" class="btn btn-primary btn-sm">More Info</a> -->
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Climate and weather</h2>
           	<p class="card-text">
	           	<div>Weather: <span th:text="${aez.weather}">weather</span></div> 
	           	<div>Climate: <span th:text="${aez.climate}">climate</span></div>
	           	<div>If you find that everthing is OK, just confirm !</div>
            </p>
          </div>
          <div class="card-footer">
			<form th:action="@{/confirm}" method="post">
				<div class="form-group">
					<input type="hidden" th:value="${phtext}" class="form-control"
						id="phtext" aria-describedby="phtextHelp" name="phtext">
				</div>
				<div class="form-group">
					<input type="hidden" th:value="${aez.weather}"
						class="form-control" id="weather"
						aria-describedby="weatherHelp" name="weather">
				</div>
				<div class="form-group">
					<input type="hidden" th:value="${aez.climate}"
						class="form-control" id="climate"
						aria-describedby="climateHelp" name="climate">
				</div>
				<button type="submit" class="btn btn-primary">Confirm</button>
			</form>
			<!--  <a href="#" class="btn btn-primary btn-sm">More Info</a> -->
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

		</div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark" th:insert="template.html :: afooter">
    
  </footer>

  <!-- Bootstrap core JavaScript -->
  <th:block th:insert="template :: body/script"></th:block>

</body>

</html>
